.Voucher {
    margin: 0 auto;
    max-width: 400px;
    margin-top: 10px;
    flex-direction: row;
    display: flex;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding: 8px;
}

.Voucher:hover {
    transform: scale(1.01);
    background-color: white;
}

.Voucher-logo {
    width: 50%;
    display: flex;
}

.Voucher-logo img {
    width: 100%;
}

.Voucher-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: inherit;
    padding-left: 8px;
}

.Voucher-price {
    font-size: 20px;
}

.Voucher-title {
    padding-top: 0.2vw;
}

.Voucher-desc {
    padding-top: 0.2vw;
    color: #c4c4c4;
    font-size: 14px;
}

.bottom {
    flex-grow: 1;
}
