.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.App-logo {
    height: 40px;
}

.App-header {
    text-align: center;
    width: 100%;
    padding: 10px 0 6px 0;
    color: white;
    border-bottom: 1px solid #ccc;
}

.Vouchers {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
